<html>
<head>
    <title>
        ELO420!
    </title>
</head>
<body>
{% block content %}
here will be notification for logout ;) - HIDE ME :D
{% endblock content %}
<h1>
    ZBYT KONOPNY
</h1>
{% if logged %}
<a href="/logout">Wyloguj</a>
{% else %}
<a href="/register">Zaloguj/Zarejestruj</a>
{% endif %}
<a href="{% url 'add' %}">Add advert (click me)</a><br><br>
<p>Z podziałem na rodzaj:</p>
{% if types %}
<div>
    {% for type in types %}
    <div>
        <a href="/type/{{ type.0 }}/">{{ type.1 }}</a>
        <div>
            {% if type.0 == 'buy' %}
                {% for advert in latest_advert_buy %}
                    <a href="/{{ advert.id }}"> {{ advert.title }} </a>
                {% endfor %}
            {% elif type.0 == 'sell' %}
                {% for advert in latest_advert_sell %}
                    <a href="/{{ advert.id }}">{{ advert.title }}</a>
                {% endfor %}
            {% else %}
                {% for advert in latest_advert_barter %}
                    <a href="/{{ advert.id }}">{{ advert.title }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if categories %}
<div>
    <p>Z podziałem na rodzaj:</p>
    {% for category in categories %}
    <div>
        <a href="/category/{{ category.0 }}/">{{ category.1 }}</a>
        <div>
            {% if category.0 == 'seed' %}
                {% for advert in latest_advert_list_seed %}
                    <a href="/{{ advert.id }}"> {{ advert.title }} </a>
                {% endfor %}
            {% elif category.0 == 'flower' %}
                {% for advert in latest_advert_list_flower %}
                    <a href="/{{ advert.id }}">{{ advert.title }}</a>
                {% endfor %}
            {% else %}
                {% for advert in latest_advert_list_fiber %}
                    <a href="/{{ advert.id }}">{{ advert.title }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
List of active adverts: <br>
{% if latest_advert_list %}
    <ul>
    {% for advert in latest_advert_list %}
        <li><a href="/{{ advert.id }}/">{{ advert.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Brak ogłoszeń.</p>
{% endif %}
</body>
</html>