<html>
<head>
    <title>ELO RAP !!!! 410 4EVA</title>
</head>
<body>
{% block content %}
<p color="red">placeholder taken_username</p>
{% endblock content %}
{% if next %}
<form action="/register/?next={{ next }}" method="post">
{% else %}
<form action="/register/" method="post">
{% endif %}
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label }}</p>
    <p>{{ field }}</p>
        {% for err in field.errors %}
            {{ err }}
        {% endfor %}
    {% endfor %}
    <input type="submit" value="Wyślij">
{% if next %}
</form>
{% else %}
</form>
{% endif %}
Oho! A może masz już konto? Zaloguj się poniżej:<br>
{% if next %}
<form action="/login/?next={{ next }}" method="post">
{% else %}
<form action="/login/" method="post">
{% endif %}
    {% csrf_token %}
    {% for field in login_form %}
    <p>{{ field.label }}</p>
    <p>{{ field }}</p>
        {% for err in field.errors %}
            {{ err }}
        {% endfor %}
    {% endfor %}
    <p><input type="submit" value="Wyślij"></p>
{% if next %}
</form>
{% else %}
</form>
{% endif %}
</body>
</html>